
  <div class="jumbotron">
    <h1></h1>
    <label>COUNTRY</label>
    <select class="form-control form-control-lg" (change)= "getCountry($any($event.target).value)">
      <option *ngFor = " let country of countries" value="{{country.Slug}}">{{country.Country}}</option>
    </select>
    <button type="button" class="btn btn-primary" (click) ="getCoronaData()">get corona data</button>

  <div class="row">
    <div class="card col p-3 m-3 ">
      <div class="ui statistic">
        <div class="label">
          CONFIRMED
        </div>
        <div class="value">
          {{Confirmed}}
        </div>
      </div>
    </div>
  
    <div class="card col p-3 m-3 ">
      <div class="ui statistic">
        <div class="label">
          DEATHS
        </div>
        <div class="value">
          {{Death}}
        </div>
      </div>
    </div>
    <div class="card col p-3 m-3 ">
      <div class="ui statistic">
        <div class="label">
          RECOVERED
        </div>
        <div class="value">
          {{Recovered}}
        </div>
      </div>
    </div>
  </div>
  </div>
 
  <router-outlet></router-outlet>